name: interact with Github API
on: 
  pull_request:

jobs:
  create-issue:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    env:
      REPO: "https://api.github.com/repos/thibautscholaert/github-actions-training"
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: short_sha
        id: short_sha
        shell: bash
        run: |
          echo 'short_sha=${GITHUB_SHA::7}' >> $GITHUB_OUTPUT
      - name: run test
        shell: bash
        run: |
            curl --request POST \
                --url $REPO/issues \
                --header 'authorization: Bearer ${{secrets.TOKENN}}' \
                --header 'content-type: application/json' \
                --data '{
                    "title": "Automated issue for commit: ${{ steps.short_sha.outputs.sha_short }}",
                    "body": "This issue was automatically created by the GitHub Action workflow **${{ github.workflow }}**. \n\n The commit hash was: _${{ steps.short_sha.outputs.sha_short }}_."
                    }' \
                --fail