name: interact with Github API
on: 
  pull_request:

jobs:
  create-issue:
    runs-on: ubuntu-latest
    env:
      REPO: "https://api.github.com/repos/thibautscholaert/github-actions-training/issues"
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: short_sha
        id: short_sha
        shell: bash
        run: |
          echo 'short_sha=${GITHUB_SHA::7}' >> $GITHUB_OUTPUT
      - name: run test
        shell: bash
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{github.token}}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            ${{env.REPO}}/issues \
            -d '{"title":"Found a bug","body":"I'\''m having a problem with this.","assignees":["octocat"],"milestone":1,"labels":["bug"]}'