name: build docker
on: 
  pull_request:
  push:
    branches: 
      - main

jobs:
  run-npm-install:
    runs-on: ubuntu-latest
    steps:
        - name: checkout
          uses: actions/checkout@v6
        - name : setup node
          uses: actions/setup-node@v6
          with:
            node-version: 'lts/*'
        - name: Cache node modules
          uses: actions/cache@v5
          env:
            cache-name: cache-node-modules
          with:
            # npm cache files are stored in `~/.npm` on Linux/macOS
            path: ./node_modules
            key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
            restore-keys: |
              ${{ runner.os }}-build-${{ env.cache-name }}-
              ${{ runner.os }}-build-
              ${{ runner.os }}-
        - name: run install
          shell: bash
          run: |
            npm install
            npm test
  docker-build:
        runs-on: ubuntu-latest
        if: ${{ github.ref_name == 'main' }}
        steps:
            - name: checkout
              uses: actions/checkout@v6
            - name : setup node
              uses: actions/setup-node@v6
              with:
                node-version: 'lts/*'
            - name: Cache node modules
              uses: actions/cache@v5
              env:
                cache-name: cache-node-modules
              with:
                # npm cache files are stored in `~/.npm` on Linux/macOS
                path: ./node_modules
                key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
                restore-keys: |
                  ${{ runner.os }}-build-${{ env.cache-name }}-
                  ${{ runner.os }}-build-
                  ${{ runner.os }}-
            - name: build docker image
              shell: bash
              run: |
                docker build -t ${{ github.sha }} .